.tabs{
  width: 100%;
  .tabNav{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: center;
    border-bottom: 1px solid #eee;
    .tab{
      cursor: pointer;
      flex-grow: 1;
      padding: 15px 0px;
      &:hover{
        background-color: #eee;
      }
      &.active{
        background-color: #eee;
      }
    }
  }
}
